@import './styles/tokens.css';
@import './styles/reset.css';
@import './styles/typography.css';

html {
  font-size: 16px;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-body);
}
